//VARIABLES
$hamburgerShownMargin: 0;
$hamburgerHiddenMargin: 0 24px 0 -88px;

stk-app-site-navbar {
  @include toolbar-top-fixed()
}

mat-toolbar.mat-toolbar {
    min-height: $toolbar-height-medium;
    height: $toolbar-height-medium;
    font: 300 20px / 32px $font-family;
    color: $white;

    mat-toolbar-row {
        padding: 0 16px 0 0;

        .title-navbar{
            font-weight: 300;
            padding-right: 24px;
        }
        a {
            font-size: 16px;
            font-weight: 400;
            color: #fff;
            font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
            padding: 21px 0;
        }

        mat-icon {
            color: $white;
            cursor: pointer;
        }

        button.open-menu {
            height: 100%;
        }
    }

    @media (min-width: 481px) {
        &:not(.transitioning) {
            transition: background-color .2s linear;
        }
    }

    @media (min-width: 481px) {
        position: absolute;
    }
}

@media (min-width: 992px) {
    .hamburger.mat-button {
        margin: $hamburgerShownMargin;
    }
}

.stk-top-nav-link img {
    position: relative;
    margin-top: -21px;
    margin-right: 20px;
    top: 12px;
    height: 40px;

    @media (max-width: 992px) {
        &:hover {
            transform: scale(1.1);
        }
    }
}

nav.stk-top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style-position: inside;
        padding: 0px;
        margin: 0px;

        li {
            list-style-type: none;
            cursor: pointer;

            &:focus {
                // background-color: $accentblue;
                outline: none;
            }
        }
    }

    a.stk-top-nav-link {
        margin: 0;
        padding: 18px 16px;
        cursor: pointer;

        &:focus {
            background: rgba($white, 0.15);
            border-radius: 4px;
            outline: none;
            padding: 8px 16px;
        }
    }
    @media (max-width: 992px) {
        transform: scale(0);
        transition: background-color .2s linear;
    }
}

div.nav-icon-container {
    @include top-right;
    height: 100%;

    button.mat-button:first-child {
        margin-right: -5px;
    }

    button.mat-button {
        min-width: 24px;
        background-color: rgba(0, 0, 0, .12);
    }
    button.mat-button:last-child {
        top: -1px;
    }
    

    img.svg-icon{
        width: 24px;
        height: 24px;
    }

    @media (max-width: 768px) {
        margin-right: 1rem !important;
    }

}

.open-menu.mat-button {
    height: 100%;
    margin: $hamburgerShownMargin;
    padding: 0;

    &:not(.starting) {
        transition-duration: .4s;
        transition-property: color, margin;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    @media (min-width: 992px) {
        margin: $hamburgerHiddenMargin;
    }

    &:hover {
        color: $white;
    }

    & .mat-icon {
        color: $white;
        position: inherit;
    }
}
