.powered-by {
    cursor: default;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    color: $white;
    position: relative;
    i.material-icons {
        margin-left: 5px
    }
}

.border-shape {
    padding: 40px 0 40px 0;
    background: $dark-border;
    position: relative;

    &:before {
        top: 0px;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(0, 120, 207, 0);
        border-top-color: $primaryColor;
        border-width: 20px;
        margin-left: -20px;
        position: absolute;
    }
}

.language-section {
    .language-link {
        transition: 0.13s all ease-in-out;
        transform: scale(1);
        position: relative;
        display: inline-block;
        margin: 0 10px 0 0;
        padding: 15px;
        color: $white;
        white-space: nowrap;
        overflow: hidden;
        text-align: left;
        opacity: 0.85;

        img {
            display: inline-block;
            vertical-align: middle;
            height: 45px;
            width: 45px;
            margin-right: 5px;
        }

        .title {
            font-weight: 500;
            font-size: 1.1rem;
            display: inline-block;
            vertical-align: middle;
        }

        .lang {
            color: #999;
            font-weight: 300;
            font-size: 0.9rem;
            padding-top: 3px;
            display: block;
        }

        i.material-icons {
            color: #fff;
            position: absolute;
            right: 0px;
            transition: 0.13s all ease-in-out;
            top: 46px;
            opacity: 0;
            transform: translateX(-20px);
        }

        &:hover {
            opacity: 1;
            color: #fff;
            transform: scale(1.1);
        }

        &:hover i.material-icons {
            opacity: 1;
            transform: translateX(0px);
        }
    }
}


div.custom-margin {
    margin-left: -65px;
    margin-right: -65px;
}
