mat-dialog-container.mat-dialog-container{
    border-radius: $no-border-radius;
    padding: 0 24px 24px 24px;
    
    mat-dialog-content.mat-dialog-content{
        padding: 0;
    }
}

div.mat-dialog-header {
    flex-shrink: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin: 0 32px 16px 0;
    margin-bottom: 24px;
    h3{
        padding: 0 24px
    }
}
