.mat-dialog-container.mat-dialog-container#signinCmp {
    padding: 0;
    width: 30rem;
}

.flex-container-signin {
    max-width: 25rem;
    padding: 24px;

    button.mat-raised-button {
        background-color: $buttonGray;
    }
}

.singin-title {
    position: relative;
    z-index: 1;
    border-left: 5px solid #00695c;
    margin: 0 0 35px;
    padding: 10px 0 10px 50px;
    color: #00695c;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 16px
}
