<mat-sidenav-container align="begin" class="sidenav-container" role="main">
  <mat-sidenav #sidenav class="sidenav" mode="over">
    <div class="sidenav-header">
     <mat-icon svgIcon="electron"></mat-icon>
      <span>SmarTokenizer</span>
    </div>
    <div class="stk-nav-menu-container">
        <stk-app-nav></stk-app-nav>
    </div>
  <stk-app-sidenav-expander></stk-app-sidenav-expander>
  </mat-sidenav>
  <section class="sidenav-content" role="content">
    <!-- all component are injected here-->
    <router-outlet></router-outlet>
  </section>
</mat-sidenav-container>
