<mat-toolbar color="primary">
  <mat-toolbar-row color="primary" class="mat-elevation-z6">
    <button mat-button class="open-menu" (click)="toggle()">
      <mat-icon svgIcon="menu"></mat-icon>
    </button>
    <span class="title-navbar">{{title}}</span>
    <span class="flex-auto"></span>
    <button mat-icon-button (click)="toggleRight()">
      <mat-icon svgIcon="bell"></mat-icon>
    </button>
    <stk-app-avatar></stk-app-avatar>
  </mat-toolbar-row>
</mat-toolbar>

