/**
 * Copyright 2018 Smartokenizer
 *
 * @author: Christian Chiama
 * @author: Paperini Alessandro
 * 
 * @version: 2.0.0
 * @since:2018
 * @see:http://smartokenizer.org
 * 
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

//DEFINE CUSTOM PALETTE
$blue:      #0277bd !default;
$indigo:    #6610f2 !default;
$purple:    #8e24aa !default;
$pink:      #d81b60 !default;
$red:       #d84315 !default;
$orange:    #e65100 !default;
$yellow:    #ffc107 !default;
$green:     #00695c !default;
$greeen-dark: #006064 !default;
$teal:        #20c997 !default;
$cyan:        #17a2b8 !default;
$buttonGray:  #e0e0e0 !default;

$white:    #fff !default;
$primary:       $greeen-dark !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$dark-border:  #004e51 !default;

$bodyColor:    #cfd8dc;
$lightTheme:  #fafafa;
$primaryColor: $greeen-dark;

//BOOLEAN
$enable-rounded:            true !default;
$enable-shadows:            false !default;
$enable-gradients:          false !default;
$enable-transitions:        true !default;
$enable-grid-classes:       true !default;
$enable-print-styles:       true !default;

//MARGIN/PADDING
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: ($spacer * .8),
  5: ($spacer * 3),
  8: ($spacer * 8),
  10: ($spacer * 1.0),
  12: ($spacer * 1.2),
  15: ($spacer * 1.5),
  16: ($spacer * 1.6),
  20: ($spacer * 2.0),
  24: ($spacer * 2.4),
  30: ($spacer * 3.0),
  32: ($spacer * 3.2),
  48: ($spacer * 4.8),
  40: ($spacer * 4.0),
  50: ($spacer * 5.0),
  100:($spacer * 10),
  200:($spacer * 20),
  300:($spacer * 30),
  400:($spacer * 40),
  500:($spacer * 50),
  150:($spacer * 15),
  250:($spacer * 25)
), $spacers);

$sizes: () !default;
$sizes: map-merge((
  5: 5%,
  15: 15%,
  25: 25%,
  35: 35%,
  45: 45%,
  50: 50%,
  60: 60%,
  75: 75%,
  80: 80%,
  90: 90%,
  100: 100%
), $sizes);


//TRANSITION
$transition-base:             all .2s ease-in-out !default;
$transition-fade:             opacity .15s linear !default;
$transition-collapse:         height .35s ease !default;

//TRANSFORM
$transform-scale:            translate(0, 0) scale(1) !default;

//Z-INDEX
$zindex-sticky:                     1020 !default;
$zindex-fixed:                      1030 !default;
$zindex-modal-backdrop:             1040 !default;
$zindex-modal:                      1050 !default;

//OVERFLOW
$overflow: (
  auto,
  hidden,
  scroll,
  inherit,
  initial,
  visible
) !default;

//GRID
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");


$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;

//TYPOGRAPHY
$line-height-lg:              1.5 !default;
$line-height-sm:              1.5 !default;



$font-family:                 Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif !default;

$font-size-base:              1rem !default;
$font-size-lg:                ($font-size-base * 1.25) !default;
$font-size-sm:                ($font-size-base * .875) !default;

$font-weight-super-light:     100 !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-medium:          500 !default;
$font-weight-bold:            700 !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5 !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

$headings-font-family:        $font-family !default;
$headings-font-weight:        500 !default;
$headings-line-height:        1.2 !default;
$headings-color:              inherit !default;


$display-line-height:         $headings-line-height !default;
$small-font-size:             80% !default;

//BORDER
$border-width:                1px !default;
$border-radius:               .25rem !default;
$border-radius-lg:            .3rem !default;
$border-radius-sm:            .2rem !default;
$border-radius-max:            100% !default;
$no-border-radius:              0 !default;

//COMPONENT BASE
$component-base-color:        $white !default;
$component-main-color:        theme-color("primary") !default;
$card-main-background:        theme-color("white") !default;


$toolbar-height-small:        48px !important;
$toolbar-height-medium:       56px !important;
$toolbar-height-large:        64px !important;



