//SMARTOKENIZER FRAMEWORK SCSS
@import "~@stk/common/scss/stk";

//SPECIFIC APP VARIABLES
@import './variables';

//MATERIAL
@import './material';

//SMARTOKENIZER APP SPECIFIC
@import '../app/components/styles';
@import '../app/module/styles';


body{
    background-color: $lightTheme;
}

smartokenizer-app-root {
   @include flex();
   @include flex-column();
   @include box-orient();
   @include root-component-position();
   top:0;
}
