@import '~@angular/material/theming';
@import '~@stk/common/scss/material/modal';

@include  mat-core();
$primary: mat-palette($mat-cyan, 900);
$accent:  mat-palette($mat-pink, 600, 100, 800);
$warn:    mat-palette($mat-red, 600);
$theme:   mat-light-theme($primary, $accent, $warn);
@include  angular-material-theme($theme);

