
//SMARTOKENIZER FRAMEWORK SCSS
@import "~@stk/common/scss/stk";
@import './variables';


//COMPONENTS
@import './components/navbar.component';
@import './components/header.component';
@import './components/card.component';
@import './components/overview.component';
@import './components/release.component';
@import './components/footer.component';
@import './components/project.component';
@import './components/settings.component';
@import './components/country-select.component';
@import './components/signin.component';
@import './components/root.component';

//MATERIAL
@import './material';

//SMARTOKENIZER SITE SPECIFIC

smartokenizer-app-site-root {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
}

//TYPOGRAPHY

  h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 24px 0px;
    clear: both;
  }
  
  h4 {
    font-size: 18px;
    font-weight: 400;
    margin: 8px 0px;
    clear: both;
  }
  
  h5 {
    font-size: 16px;
    font-weight: 500;
    margin: 8px 0px;
    clear: both;
  }
  
  h6 {
    color: $white;
    font-size: 16px;
    font-weight: 500;
    margin: 8px 0px;
    clear: both;
  }
  
  
  p, ol, ul, ol, li, input, a  {
    vertical-align: middle;
    letter-spacing: 0.30px;
    font-weight: 400;
    & > em {
      letter-spacing: 0.30px;
    }
  }
  
  ol {
    li, p {
      margin: 4px 0;
    }
  }
  
  li p {
    margin: 0;
  }
  
  
  strong {
    font-weight: 500;
  }
  



