stk-app-search.search-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-width: 150px;
    height: 100%;
  
    input {
      color: #222;
      border: none;
      border-radius: 100px;
      background-color: $white;
      padding: 5px 16px;
      margin-left: 8px;
      width: 180px;
      max-width: 240px;
      height: 50%;
      -webkit-appearance: none;
  
      &:focus {
          outline: none;
      }
  
      @media (max-width: 480px) {
        width: 150px;
      }
    }
  }
