@mixin rotate($degrees) {
    -moz-transform: rotate($degrees);
    -webkit-transform: rotate($degrees);
    -o-transform: rotate($degrees);
    -ms-transform: rotate($degrees);
    transform: rotate($degrees);
    transition: transform 150ms;
    transition-timing-function: ease-in-out;
}

.sidenav-header {
    height: 6.4rem;
    line-height: 6.4rem;
    font-size: 20px;
    font-weight: 400;

    mat-icon {
        height: 3.4rem;
        line-height: 3.4rem;
        vertical-align: middle;
        padding: 0 16px;
    }
}

.mat-drawer-transition.open {
    transform: translate3d(0, 0, 0);
    transition: transform 300ms ease-out;

    .close {
        transform: translate3d(-104%, 0, 0);
    }
}

.starting.mat-drawer-transition .mat-drawer-content {
    transition: none;
}

stk-nav-menu {
    display: block;
    margin: 0 auto;
    font-size: 13px;

    ul, a {
        padding: 0;
        margin: 0;
    }

    &:first-child {
        margin-top: 16px;
    }

    stk-nav-item div a {
        padding-left: 6px;
    }
}

mat-sidenav.mat-sidenav.sidenav {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0;
    min-width: 256px;
    background-color: $white;
    box-shadow: 6px 0 6px rgba(0, 0, 0, 0.1);
    top: $sidenavTop;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    &.collapsed {
        top: $sidenavTop;
    }
}

mat-sidenav-container.sidenav-container {
    min-height: 100%;
    height: auto !important;
    max-width: 100%;
    margin: 0;
    transform: none;

    &.has-floating-toc {
        max-width: 82%;
    }
}

mat-sidenav-container div.mat-sidenav-content {
    height: auto;
}

.vertical-menu-item {
    box-sizing: border-box;
    color: $lightTheme;
    cursor: pointer;
    display: block;
    max-width: 256px;
    overflow-wrap: break-word;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
    text-align: left;
    width: 93%;
    word-wrap: break-word;

    &:hover {
        background-color: $lightTheme;
        color: $blue;
        text-shadow: 0 0 5px #ffffff;
    }

    &:focus {
        outline: $primaryColor auto 2px;
    }

    .mat-icon {
        position: absolute;
        top: 0;
        right: 0;
        margin: 4px;
    }
}

.vertical-menu-item.selected {
    color: $blue;
}

button.vertical-menu-item {
    border: none;
    background-color: transparent;
    margin-right: 0;
    padding-left: 6px;
    padding-top: 8px;
    padding-bottom: 10px;
}

.heading {
    color: $lightTheme;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
}

.heading-children.expanded {
    visibility: visible;
    opacity: 1;
    max-height: 400rem;
    transition: visibility 500ms, opacity 500ms, max-height 500ms;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.heading-children.collapsed {
    visibility: hidden;
    opacity: 0;
    max-height: 1px;
    transition: visibility 275ms, opacity 275ms, max-height 280ms;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.no-animations {
    .heading-children.expanded, .heading-children.collapsed {
        transition: none !important;
    }
}

.level-1 {
    font-family: $font-family;
    font-size: 14px;
    font-weight: 400;
    margin-left: 14px;
    transition: background-color 0.2s;
    text-transform: uppercase;
}

.level-2 {
    color: $lightTheme;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 400;
    margin-left: 12px;
    text-transform: none;
}

.level-3 {
    color: $lightTheme;
    font-family: $font-family;
    font-size: 14px;
    margin-left: 10px;
}

.level-1.expanded .mat-icon, .level-2.expanded .mat-icon {
    @include rotate(90deg);
}

.level-1:not(.expanded) .mat-icon, .level-2:not(.expanded) .mat-icon {
    @include rotate(0deg);
}

stk-nav-menu.top-menu {
    padding: 24px 0 0;

    stk-nav-item:last-child div {
        border-bottom: 1px solid rgba($lightTheme, 0.5);
    }

    stk-nav-item:first-child div {
        border-top: 1px solid rgba($lightTheme, 0.5);
    }
}

mat-sidenav .stk-nav-menu-container {
    border-top: 1px solid $lightTheme;

    select {
        outline: none;
        width: 100%;
        background: rgba($lightTheme, 0.5);
        height: 32px;
        border: 1px solid $lightTheme;
        color: $lightTheme;

        option {
            font-family: $font-family;
            font-size: 14px;
        }
    }
}

a.sidenav-footer {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    bottom: 2rem;
    position: absolute;
    line-height: 1.6;
    font-weight: 100;
}

stk-app-nav {
    .containericon {
        padding-left: 64px;
        height: $sidenavMenuItemHeight;
        color: #222;
        cursor: pointer;
        display: block;
        outline: none;
        overflow: hidden;
        position: relative;
    }

    button.mat-raised-button:not([class*=mat-elevation-z]), button.mat-raised-button:not([disabled]):active:not([class*=mat-elevation-z]) {
        box-shadow: none;
        width: 100%;

        &:hover {
            background-color: #dbdbdb;
            color: $primaryColor;
            text-shadow: 0 0 5px #fff;
        }
    }

    .svg-container {
        height: $sidenavMenuItemHeight;
        left: 24px;
        opacity: 1;

        @include flex;
        @include flex-column;
        @include justify-center;

        background-repeat: no-repeat;
        opacity: .54;
        position: absolute;
    }

    .nav-item-label {
        font-weight: 700;
        line-height: $sidenavMenuItemHeight;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        font-size: 14px;
        font-weight: 400;
        height: $sidenavMenuItemHeight;
        position: relative;
        white-space: nowrap;
    }

    .nav-item {
        -webkit-box-flex: 1;
        box-flex: 1;
        min-width: 0;
    }

    .section-title {
        line-height: 24px;
        margin: 12px 24px;
    }
}

mat-sidenav.mat-drawer {
    background-color: $white;
}


.mat-drawer-content {
    text-align: center;
    background-color: inherit;
}
  .sidenav-content {
    min-height: 100vh;
    padding: 20px 3rem 1rem;
    margin: auto;
  }
  
  @media (max-width: 600px) {
  
    .sidenav-content {
      min-height: 450px;
    }
  }
  
  .sidenav-container {
    width: 100%;
    height: 100vh;
  }
  
  .sidenav-content button {
    min-width: 50px;
  }

mat-icon.rotating-arrow {
    position: absolute;
    top: 0;
    right: 0;
    margin: 12px;
    vertical-align: middle;
    transition: transform .15s, -webkit-transform .15s;
    transition-timing-function: ease-in-out;

    &.expanded {
        transition: transform .15s, -webkit-transform .15s;
        transition-timing-function: ease-in-out;

        @include rotate(90deg);
    }
}

div.expander-container {
    button.sidenav-expander {
        @include full-width;
        @include flex;

        box-shadow: none !important;
        height: $sidenavMenuItemHeight;
        position: absolute;
        left:0;
        right:0;
        bottom: 0;

        &:hover {
            box-shadow: none;
            background-color: #dbdbdb;
            color: $primaryColor;
            text-shadow: 0 0 5px #fff;
        }

        &:focus {
            box-shadow: none;
        }

        .rotating-arrow {
            @include rotate(180deg);
        }
    }
}

[no-shadow] {
    box-shadow: none;
}
