<div class="stk-overview-container">
    <div overflow-y-auto>
        <stk-app-site-header></stk-app-site-header>
    </div>
</div>
<div class="border-shape">
    <div class="container w-90">
        <stk-app-site-project></stk-app-site-project>
    </div>
</div>
<footer>
    <stk-app-site-footer></stk-app-site-footer>
</footer>
