<mat-sidenav-container>
    <mat-sidenav #sidenav position="end">End</mat-sidenav>
    <mat-sidenav-content>
        <stk-app-navbar></stk-app-navbar>
        <div class="stk-app-container" overflow-y-auto>
            <stk-app-sidenav></stk-app-sidenav>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
