<mat-toolbar color="primary">
  <mat-toolbar-row color="primary" class="mat-elevation-z6">
    <button mat-button class="open-menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title-navbar">{{title}}</span>
    <nav class="stk-top-nav">
      <ul role="navigation">
        <li class="stk-top-nav-item" *ngFor="let item of navBarMenu">
          <a class="stk-top-nav-link" href="{{item.routerLink}}">{{item.label}}</a>
        </li>
      </ul>
    </nav>
    <span class="flex-auto"></span>
    <div class="nav-icon-container mr-30">
      <button mat-button class="h-100" (click)="openSettingsDialog()" matTooltip="Settings">
          <img class="svg-icon" src="./assets/svg/electron.svg" />
      </button>
      <button mat-button class="h-100" matTooltip="Signin" (click)="openSigninDialog()">
        <img class="svg-icon" src="./assets/svg/github.svg" /><span class="ml-3">sign in</span>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
