stk-app-avatar {
    align-self: center;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    padding: 0 8px;
}

.avatar-container {
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-flex: 0 1 main-size;
    flex: 0 1 main-size;

    .avatar-position {
        position: relative;

        a {
            padding: 4px;

            span {
                -webkit-background-size: 32px 32px;
                background-size: 32px 32px;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                display: block;
                margin: 0;
                overflow: hidden;
                position: relative;
                height: 32px;
                width: 32px;
                z-index: 0;

                .avatar-img {
                    display: inline-block;
                    -webkit-transform: scale(0.5);
                    transform: scale(0.5);
                    -webkit-transform-origin: left 0;
                    transform-origin: left 0;
                }
            }
        }
    }
}
