stk-app-navbar {
    @include toolbar-top-fixed()
}
.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  mat-sidenav-container {
    background: black;
  }
  
  .app-content {
    padding: 5px;
  }
  
  .app-content mat-card {
    margin: 5px;
  }
  
  .app-sidenav {
    min-width: 200px;
  }
