<div class="expander-container">
  <span>smartokenizer</span>
  <button mat-raised-button class="sidenav-expander" role="menuitem" no-shadow>
    <mat-icon svgIcon="arrow-menu" class="rotating-arrow"></mat-icon>
  </button>
</div>
