<mat-dialog-content>
  <div class="mat-dialog-header">
      <h3>Platform Configuration</h3>
  </div>
    <mat-horizontal-stepper #linearHorizontalStepper="matHorizontalStepper" [linear]="!isNonLinear">
      <mat-step [stepControl]="nameFormGroup">
        <form [formGroup]="nameFormGroup">
          <ng-template matStepLabel>Select language</ng-template>
        </form>
      </mat-step>
      <mat-step [stepControl]="emailFormGroup" optional>
        <form [formGroup]="emailFormGroup">
          <ng-template matStepLabel>Choose theme</ng-template>
          <mat-form-field>
            <mat-label>Email address</mat-label>
            <input matInput formControlName="emailCtrl">
            <mat-error>The input is invalid</mat-error>
          </mat-form-field>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button type="button" class="float-right" mat-dialog-close>Close</button>
</mat-dialog-actions>
