
/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@include mat-core();

//TODO MODIFICARE CON I NOTRI COLORI
$mat-stk-primary: (
	50 : #fdfdfd,
    100 : #fafafa,
    200 : #f7f7f7,
    300 : #f4f4f4,
    400 : #f1f1f1,
    500 : #efefef,
    600 : #ededed,
    700 : #ebebeb,
    800 : #e8e8e8,
    900 : #e4e4e4,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-stk-accent: (
	50 : #e8f0fe,
    100 : #c6dafc,
    200 : #a1c2fa,
    300 : #7baaf7,
    400 : #5e97f6,
    500 : #4285f4,
    600 : #3c7df3,
    700 : #3372f1,
    800 : #2b68ef,
    900 : #1d55ec,
    A100 : #ffffff,
    A200 : #eef2ff,
    A400 : #bbcbff,
    A700 : #a1b8ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$crm-palette-primary: mat-palette( $mat-stk-primary );
$crm-palette-accent:  mat-palette( $mat-stk-accent );
$crm-theme: mat-light-theme($crm-palette-primary, $crm-palette-accent);

@include main-theme($crm-theme);
@include app-theme($crm-theme);
