/**
 * Copyright 2018 Smartokenizer
 *
 * @author: Christian Chiama
 * @author: Paperini Alessandro
 * 
 * @version: 2.0.0
 * @since:2018
 * @see:http://smartokenizer.org
 * 
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
 
mat-toolbar.mat-toolbar {
    min-height: $toolbar-height-medium;
    height: $toolbar-height-medium;
    font: 300 20px / 32px $font-family;
    color: $white;

    mat-toolbar-row {
        padding: 0 16px 0 0;

        .title-navbar{
            font-weight: 300;
            padding-right: 24px;
        }
        a {
            font-size: 16px;
            font-weight: 400;
            color: $white;
            font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
            padding: 21px 0;
        }

        mat-icon {
            color: $white;
            cursor: pointer;
        }

        button.open-menu {
            height: 100%;
        }
    }

    @media (min-width: 481px) {
        &:not(.transitioning) {
            transition: background-color .2s linear;
        }
    }

    @media (min-width: 481px) {
        position: absolute;
    }
}
