<header overflow-hidden primary>
    <div class="container">
        <div class="row">
            <div class="header-section">
                <div class="header-tagline">
                    <h1 class="mat-h1 header-h1" [innerHTML]="tagline">{{tagline}}</h1>
                    <h2 class="header-h2">{{subTagline}}</h2>
                </div>
                <div class="stk-get-started">
                    <a mat-raised-button routerLink="." matTooltip="Happy SmarTokenizization!">Build your first project</a>
                </div>
            </div>
        </div>
    </div>
</header>
