<div class="version-dialog-header">
  <h1>SmarTokenizer</h1>
  <p>Version {{data.appVersion}}</p>
  <p>copyright 2018</p>
  <p>Author: Christian Chiama</p>
  <p>Author: Paperini Alessandro</p>
  <div class="shape">

  </div>
</div>
