<div class="avatar-container">
  <div class="avatar-position">
    <a>
      <span class="avatar-border" matTooltip="Christian Chiama">
        <img class="avatar-img" src="{{imageUrl}}">
      </span>
    </a>
  </div>
</div>
