<mat-form-field>
  <mat-select placeholder="Favorite food">
    <mat-option *ngFor="let food of foods" [value]="elements.value">
      {{ elements.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>
