<div class="container">
  <div class="flex-row justify-content-lg-center">
    <div class="col-lg-3 col-sm-4">
      <stk-app-site-card [withImage]="false"></stk-app-site-card>
    </div>
    <div class="col-lg-3 col-sm-4">
      <stk-app-site-card [withImage]="false"></stk-app-site-card>
    </div>
    <div class="col-lg-3 col-sm-4">
      <stk-app-site-card [withImage]="false"></stk-app-site-card>
    </div>
  </div>
</div>
<div class="powered-by">
  <button mat-button class="h-100">
    <i class="material-icons">star</i>
    <span class="ml-3">Powered by</span>
  </button>
</div>
<div class="language-section text-center">
  <a *ngFor="let item of projectItems" class="language-link">
    <img src="{{item.image}}" alt="{{item.icon}}">
    <span class="title">{{item.title}}
      <span class="lang">{{item.subTitle}}</span>
    </span>
    <i class="material-icons">{{item.icon}}</i>
  </a>
</div>
