<div class="flex-row">
  <div class="col-sm-12">
    <h1 class="singin-title">Signin with....</h1>
  </div>
  <div class="col-sm-12">
    <div class="p-2">
      <button mat-raised-button matTooltip="Signin with Google" matTooltipPosition="right" (click)="signinWithGoogle()">
        <img class="svg-icon" src="../../../assets/svg/google.svg" />
        <span class="ml-20">sign in gogole</span>
      </button>
    </div>
    <div class="p-2">
      <button mat-raised-button matTooltip="Signin with Facebook" matTooltipPosition="right">
        <img class="svg-icon" src="../../../assets/svg/facebook.svg" />
        <span class="ml-20">sign in facebook</span>
      </button>
    </div>
    <div class="p-2">
      <button mat-raised-button matTooltip="Signin with Twitter" matTooltipPosition="right">
        <img class="svg-icon" src="../../../assets/svg/twitter.svg" />
        <span class="ml-20">sign in twitter</span>
      </button>
    </div>
    <div class="p-2">
      <button mat-raised-button matTooltip="Signin with Github" matTooltipPosition="right">
        <img class="svg-icon" src="../../../assets/svg/github-circle.svg" />
        <span class="ml-20">sign in with github</span>
      </button>
    </div>
  </div>
</div>
