<div *ngFor="let item of navItem">
    <mat-divider *ngIf="item.hasTitleDivider"></mat-divider>
    <div *ngIf="item.hasTitleDivider" class="section-title">{{item.hasTitleDivider}}</div>
    <button mat-raised-button class="containericon" routerLink="{{item.link}}" role="menuitem" no-shadow>
        <div class="svg-container">
            <mat-icon svgIcon="{{item.icon}}"></mat-icon>
        </div>
        <div class="nav-item-label">
            <div class="nav-item">{{item.label}}</div>
        </div>
        <mat-icon svgIcon="arrow-menu" class="rotating-arrow"></mat-icon>
    </button>
</div>
